<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjb.bysj.mapper.LikedMapper">

    <resultMap type="yjb.bysj.entity.Liked" id="LikedMap">

        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="blog_id" property="blogId" jdbcType="INTEGER" />
        <result column="comment_id" property="commentId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_on" property="createOn" jdbcType="TIMESTAMP" />

    </resultMap>

    <resultMap type="yjb.bysj.entity.Collect" id="CollectMap">

        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="blog_id" property="blogId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_on" property="createOn" jdbcType="TIMESTAMP" />

    </resultMap>

<!--    查找所有点赞信息-->
    <select id="searchAll" resultType="java.util.List" resultMap="LikedMap">
        select * from liked
    </select>

<!--    添加点赞信息-->
    <insert id="like" parameterType="yjb.bysj.entity.Liked">
        insert into liked (user_id, blog_id, comment_id, status, create_on)
        values (#{userId,jdbcType=INTEGER},#{blogId,jdbcType=INTEGER},#{commentId,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{createOn,jdbcType=TIMESTAMP})
    </insert>

<!--    根据id查找点赞信息-->
    <select id="searchLikedInfoByLikedId" resultType="yjb.bysj.entity.Liked" resultMap="LikedMap">
        select * from liked where id = #{id}
    </select>

<!--    根据博客id和用户id查找点赞博客的信息-->
    <select id="getBLogLikedInfoById" resultType="yjb.bysj.entity.Liked" resultMap="LikedMap">
        select * from liked where blog_id = #{blogId} and user_id = #{userId} and comment_id is null
    </select>

<!--    根据博客id和用户id和评论id查找点赞评论的信息-->
    <select id="getCommentLikedInfoById" resultType="yjb.bysj.entity.Liked" resultMap="LikedMap">
        select * from liked where blog_id = #{blogId} and user_id = #{userId} and comment_id = #{comment_id}
    </select>
    
<!--    更新评论信息（0变1 1变0）-->
    <update id="updateLikedStatus" parameterType="yjb.bysj.entity.Liked">
        update liked set status = case
        when status = 0 then 1 else 0 end
        where id = #{id}
    </update>

<!--    根据博客id查询点赞博客的信息-->
    <select id="getBlogLikedListByBlogId" resultType="java.util.List" resultMap="LikedMap">
        select * from liked where blog_id = #{blogId} and comment_id is null and status = 1
    </select>

<!--    根据用户id和博客id查找该用户是否收藏这篇博客-->
    <select id="getCollectInfoById" resultType="yjb.bysj.entity.Collect" resultMap="CollectMap">
        select * from collect where user_id = #{userId} and blog_id = #{blogId}
    </select>

<!--    收藏-->
    <insert id="collect" parameterType="yjb.bysj.entity.Collect">
        insert into collect (user_id, blog_id, status, create_on)
        values (#{userId,jdbcType=INTEGER},#{blogId,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{createOn,jdbcType=TIMESTAMP})
    </insert>

<!--    更新收藏状态-->
    <update id="updateCollectStatus" parameterType="yjb.bysj.entity.Collect">
        update collect set status = case
        when status = 0 then 1 else 0 end
        where id = #{id}
    </update>

<!--    根据博客id查询收藏了这篇博客的信息-->
    <select id="getBlogCollectListByBlogId" resultType="java.util.List" resultMap="CollectMap">
        select * from collect where blog_id = #{blogId} and status = 1
    </select>

<!--    该用户是否收藏这篇博客-->
    <select id="isUserCollected" resultType="yjb.bysj.entity.Collect" resultMap="CollectMap">
        select * from collect where user_id = #{userId} and blog_id = #{blogId}
    </select>

<!--    根据用户id查询该用户点赞的文章-->
    <select id="getLikedListByUserId" resultType="java.util.List" resultMap="LikedMap">
        select * from liked where user_id = #{userId} and comment_id is null order by create_on desc
    </select>

<!--    根据博客id查找该博客的点赞数-->
    <select id="getLikedCountByBlogId" resultType="java.lang.Integer">
        select count(*) from liked where blog_id = #{blogId} and comment_id is null
    </select>

<!--    根据博客id查找该博客的收藏数-->
    <select id="getCollectCountByBlogId" resultType="java.lang.Integer">
        select count(*) from collect where blog_id = #{blogId}
    </select>

<!--    根据用户id查找该用户收藏的文章-->
    <select id="getCollectListByUserId" resultType="java.util.List" resultMap="CollectMap">
        select * from collect where user_id = #{userId} order by create_on desc
    </select>

<!--    根据用户id获取该用户点赞的文章数-->
    <select id="getLikedCountByUserId" resultType="java.lang.Integer">
        select count(*) from liked where user_id = #{userId} and status = 1
    </select>

<!--    根据用户id获取该用户收藏的文章数-->
    <select id="getCollectCountByUserId" resultType="java.lang.Integer">
        select count(*) from collect where user_id = #{userId} and status = 1
    </select>

<!--    根据用户id获取该用户的文章被收藏的数量-->
    <select id="getAllBlogsCollectCountByUserId" resultType="java.lang.Integer">
        select count(*) from collect where blog_id in (select id from blog where author_id = #{userId} and status = 1) and status = 1
    </select>

<!--    根据用户id获取该用户的文章被收藏的数量-->
    <select id="getAllBlogsLikedCountByUserId" resultType="java.lang.Integer">
        select count(*) from liked where blog_id in (select id from blog where author_id = #{userId} and status = 1) and status = 1
    </select>

</mapper>
